PORT=
FRONTEND_URL=https://www.saviraphilippines.org,https://savira-axion.vercel.app
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=
GROQ_API_KEY=
RESEND_API_KEY=
NLP_SERVICE_URL=https://savira-axion-nlp.vercel.app
FIREBASE_SERVICE_ACCOUNT_PATH=
